body{
  background-color: black;
  background-position: right;
  color:#1988AE;
}
#Start{
  background-color: blue;
  opacity:0.5;
  padding: 10px;
}
.player{
  height: 30px;
}
.text-success{
  font-size: 25px;
}
#play{
  padding-top: 50px;
  padding-left: 30px;
}
button{
  margin: 2px;
  width: auto;
}
#pp1,#pp2,#conquest,#play1,#play2{
  display: none;
}
.icon{
  height: 200px;
}
